<section class="article">
  <% switch (type) {
      case 'archive':
        const title = page.year || 'アーカイブ';
  %>
  <h2><%= title %></h2>
  <%
        break;
      case 'tag': %>
  <h2><%= page.tag %></h2>
  <%
        break;
      case 'index': %>
  <h2>最近の記事</h2>
  <% } %>
  <ul>
    <% page.posts.each(post => { %>
    <li>
      <article>
        <a href="<%- url_for((post.link ? post.link : post.path)) %>">
          <time datetime="<%= post.date.toISOString() %>"><%- partial('_partial/date', { datetime: post.date }) %></time>

          <h3>
            <% if(post.subtitle) { %>
            <%=post.title %> - <%=post.subtitle %>
            <% } else { %>
            <%=post.title %>
            <% } %>
          </h3>
          <p><%- post.description || strip_html(post.content).substring(0, 150) + '...' %></p>
        </a>
      </article>
    </li>
    <% }) %>
  </ul>
</section>
<% if (page.total > 1) { %>
<nav class="pagination">
  <%- paginator({
      prev_text: '< 前',
      next_text: '次 >'
    }) %>
</nav>
<% } %>
