<div>
  <% switch (type) {
      case 'archive':
        const title = page.year || 'アーカイブ';
  %>
  <h2><%= title %></h2>
  <%
        break;
      case 'tag': %>
  <h2><%= page.tag %></h2>
  <%
        break;
      case 'index': %>
  <h2>最近の記事</h2>
  <% } %>
  <% page.posts.each(post => { %>
  <article>
    <figure>
      <%- partial('_partial/thumbnail', { post: post, hasLink: false, type: '10x6' }) %>
    </figure>
    <div>
      <div class="content">
        <%- partial('_partial/date', { datetime: post.date }) %>
        <h3>
          <a href="<%- url_for((post.link ? post.link : post.path)) %>">
            <%=post.title %>
          </a>
        </h3>
      </div>
    </div>
  </article>
  <% }) %>
</div>
<% if (page.total > 1) { %>
<nav class="pagination">
  <%- paginator({
      prev_text: '< 前',
      next_text: '次 >'
    }) %>
</nav>
<% } %>
