<%
  const title = page.title ? (
    page.subtitle ? (page.title + ' - ' + page.subtitle) : page.title
  ) : config.title;
%>

<head>
  <meta charset="utf-8">
  <title><%= title %></title>
  <meta name="viewport" content="width=device-width">
  <meta name="robots" content="max-image-preview:large" />
  <link rel="canonical" href="<%- page.permalink ?? url.replace(/\/index.html$/, '/') -%>">
  <%
    const ogimage = page.ogimage || (is_post() ? '_ogimage-default.png' : undefined);
    const twitterCard = (page.twitter_large_card || (!page.ogimage && ogimage))
      ? 'summary_large_image' : 'summary';
  %>
  <%- open_graph({
    url: page.permalink ?? (url.replace(/\/index.html$/, '/')) ,
    image: ogimage,
    twitter_id: config.twitter,
    twitter_image: page.twitter_image ?? ogimage,
    fb_admins: config.fb_admins,
    fb_app_id: config.fb_app_id,
    twitter_card: twitterCard
  }) %>
  <link rel="icon" href="/favicon.ico">
  <%- partial('google-analytics', { head: true }) %>
  <%- css(`assets/style.css?${Date.now()}`) %>
  <%- partial('gen-structured-data') %>
  <%- js({src:`assets/script.js?${Date.now()}`, async: true, defer: true}) %>

  <link rel="author" href="http://www.hatena.ne.jp/KentarouTakeda/" />
  <link rel="author" href="https://twitter.com/KentarouTakeda" />
  <link rel="author" href="https://github.com/KentarouTakeda" />
</head>
