<article>
  <% if (post.tags && post.tags.length){ %>
  <ul class="post-tag">
    <% post.tags.forEach(tag => { %>
    <li><a href="<%- url_for(tag.path) %>"><%= tag.name %></a></li>
    <% }) %>
  </ul>
  <% } %>

  <div class="content">
    <%- post.content %>
  </div>

  <% if (post.prev || post.next){ %>
  <nav class="post-next-prev">
    <% if (post.prev) { %>
    <a href="<%- url_for(post.prev.path) %>" class="post-prev">
      <%= post.prev.title %>
    </a>
    <% } %>
    <% if (post.next){ %>
    <a href="<%- url_for(post.next.path) %>" class="post-next">
      <%= post.next.title %>
    </a>
    <% } %>
  </nav>
  <% } %>
</article>
