<aside>

  <div class="widget-wrap">
    <div class="widget-title">著者</div>
    <aside class="profile media widget">
      <figure class="profile-avatar media-left">
        <img src="<%=config.avatar %>" class="avatar" alt="<%=config.author %>" loading="lazy">
      </figure>
      <div class="media-content">
        <div><strong><%=config.author %></strong></div>
        <div>
          <% for (var contact of config.contact.filter(v => v.show)) { %>
          <span class="icon">
            <a href="<%- url_for(contact.url) %>" aria-label="<%=contact.label %>" rel="author" target="_blank">
              <i class="fa fa-<%=contact.icon %>"></i>
            </a>
          </span>
          <% } %>
        </div>
        <br>
        <span><%= config.author_title %></span>
      </div>
    </aside>
  </div>

  <% if (site.posts.length) { %>
  <div class="widget-wrap">
    <div class="widget-title">最近の記事</div>
    <div class="widget">
      <ul class="recent-post">
        <% site.posts.sort('date', -1).limit(5).each(post => { %>
        <li class="recent-post-item media">
          <figure class="media-left">
            <%- partial('../_partial/thumbnail.ejs', { post: post, hasLink: true, type: "6x6" }) %>
          </figure>
          <div class="media-content">
            <p>
              <a href="<%- url_for((post.link ? post.link : post.path)) %>">
                <%= post.title %>
              </a>
            </p>
            <p>
              <small>
                <%- partial('../_partial/date.ejs', { datetime: post.date }) %>
              </small>
            </p>
          </div>
        </li>
        <% }) %>
      </ul>
    </div>
  </div>
  <% } %>


</aside>
