<%
if (post.thumbnail) {
  if (hasLink) { %>
<a href="<%- url_for(post.link ? post.link : post.path) %>">
  <img src="<%=post.thumbnail %>" alt="<%=post.title %>">
</a>
<% } else { %>
<img src="<%=post.thumbnail %>" alt="<%=post.title %>">
<% }
} %>
