<!DOCTYPE html>
<html lang="<%- config.language %>">

<%- partial('_partial/head') %>

<body>
  <header class="navbar">
    <div class="navbar-container">
      <a href="<%- url_for() %>">
        <%= config.title %>
      </a>
    </div>
  </header>
  <%- body %>
  <footer class="footer">
    <%= config.title %>
    Copyright &copy; <% new Date().getFullYear() %> <%= config.author %>
  </footer>
</body>

</html>
