<!DOCTYPE html>
<html lang="<%- config.language %>">

<%- partial('_partial/head') %>

<body>
  <header class="navbar" aria-label="main navigation">
    <a href="<%- url_for() %>">
      <%= config.title %>
    </a>
  </header>
  <div class="container">
    <div class="columns">
      <div class="main column is-8">
        <%- body %>
      </div>
      <div class="sidebar column is-4">
        <%- partial('_partial/sidebar') %>
      </div>
    </div>
  </div>
  <footer class="footer">
    <%= config.title %>
    Copyright &copy; <% new Date().getFullYear() %> <%= config.author %>
  </footer>
</body>

</html>
