<!DOCTYPE html>
<html lang="<%- config.language %>">

<%- partial('_partial/head') %>

<body>
  <header class="navbar">
    <div class="navbar-container">
      <a href="<%- url_for() %>">
        <%= config.title %>
      </a>
    </div>
  </header>
  <div class="container">
    <div class="main card">
      <%- body %>
    </div>
    <div class="sidebar">
      <%- partial('_partial/sidebar') %>
    </div>
  </div>
  <footer class="footer">
    <%= config.title %>
    Copyright &copy; <% new Date().getFullYear() %> <%= config.author %>
  </footer>
</body>

</html>
