<div class="container">

  <div class="post-header">
    <div class="post-title">

      <% if (page.subtitle) { %>
      <h1>
        <%= page.title %><br>
        <%= page.subtitle %><br>
      </h1>
      <% } else { %>
      <h1><%= page.title %></h1>
      <% }  %>

    </div>

    <hr>

    <% const hasUpdated = page.updated && page.updated.valueOf() > page.date.valueOf(); %>
    <div class="post-date">
      <% if (hasUpdated) { %>初出: <% } %><time datetime="<%= page.date.toISOString() %>"><%- partial('_partial/date', { datetime: page.date }) %></time>
      <% if (hasUpdated) { %>
      / 更新: <time datetime="<%= page.updated.toISOString() %>"><%- partial('_partial/date', { datetime: page.updated }) %></time>
      <% } %>
    </div>
  </div>


  <div class="main card">
    <%- partial('_partial/post', { post: page }) %>
  </div>
  <div class="sidebar">
    <%- partial('_partial/sidebar') %>
  </div>
</div>
